:root { /* Set colours with variables for ease of change */
  --primary-color: #ffa400;
  --accent-color: #199cd8;
  --dark-grey: #555;
  --light-grey: #bbb;
  --nav-link-color: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
}

body {
  width: 100%;
  color: #fff;
  line-height: 1.5;
}

header {
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  padding-bottom: 0.5rem;
}

p {
  font-size: 16px;
}

a {
  color: var(--nav-link-color);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:visited {
  color: var(--nav-link-color);
}

a:visited:hover {
  color: var(--accent-color);
}

ul, ol {
  padding: 0;
}

header * {
  background-color: var(--primary-color);
}

main {
  margin: 0 1rem;
}

section {
  padding: 1rem;
  text-align: center;
  width: calc(100% - 2rem);
  background-color: var(--dark-grey);
}

section:nth-child(1) {
  margin-top: 180px;
}

figcaption {
  padding-top: 0.5rem;
}

nav li {
  list-style-type: none;
  padding: 0.5rem;
}

nav li:nth-child(1) {
  width: 100%;
}

/* Only effect the 2nd to 5th elements */
nav li:nth-child(n+2):nth-child(-n+5):hover {
  background-color: var(--dark-grey);
  --nav-link-color: #000;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid #000;
}

nav li a {
  color: #000;
  text-decoration: none;
  background: none;
}

nav li a:hover, nav li a:visited:hover {
  color: #fff;
}

#product-logo {
  height: 75px;
  width: auto;
}

input {
  background-color: #fff;
  border-radius: 0.5rem;
  color: #000;
  border: none;
}

input[type=text], input[type=number] {
  background-color: #fff;
  height: 2rem;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus {
  border: 3px solid var(--primary-color);
}

input[type=submit], input[type=reset] {
  background-color: var(--light-grey);
  border: solid 1px #000;
  width: 100px;
  box-shadow: 2px 2px 2px #000;
}

form textarea {
  flex: 1 1 auto;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 0.5rem;
  color: #000;
}

footer {
  background-color: #000;
  height: 3rem;
}

.flex-container {
  display: flex;
}

.flex-row img {
  height: auto;
  width: 100%;
}

.flex-row {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.flex-row-item {
  margin: 1rem;
}

.flex-row-center {
  justify-content: center;
}

.flex-row-align-start {
  align-items: flex-start;
}

.flex-row-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.flex-column-align-stretch {
  align-items: stretch;
}

.flex-column-item {
  margin: 0.5rem auto;
}

.flex-column-item input{
  margin: 0.5rem auto;
  flex: 1 1 auto;
}

.text-align-center {
  text-align: center;
}

.padding-top {
  padding-top: 0.5rem;
}

.md-flex-row-item {
  width: 200px;
  height: auto;
}
.portfolio-item {
  width: 200px; 
  height: auto;
}

.summary-tag {
  text-align: center;
  margin-top: 1rem;
  color: var(--primary-color);
}

.big-icon {
  font-size: 50px;
}

.form-group {
  margin: 0;
}

#message {
  background-color: #fff;
}

#skills {
  justify-content: center;
}

#skills div {
  margin: 0.25rem;
  padding: 0.25rem;
  box-shadow: #000 2px 2px;
  background-color: var(--light-grey);
}

@media(min-width: 720px){

  
  main {
    margin: 0 15%;
  }

  nav li:nth-child(n+2) {
    padding: 1rem;
  }

  section {
    width: 100%;
  }
  
  section:nth-child(1) {
  margin-top: 140px;
  }

  .left-margin {
    margin-left: auto;
  }

  .md-flex-row-item {
    width: calc(30% - 1rem);
    height: auto;
  }

  .flex-column-item-gap {
    margin: 1rem auto;
  }

  #contact form {
    margin: auto 20%;
  }


}

@media(min-width: 1000px){
  
  .md-flex-row-item {
    width: calc(30% - 1rem);
    height: auto;
  }

  nav li:nth-child(1) {
    width: auto;
  }

}
